[Desktop Entry]
Icon=text-html
Name=https://pixabay.com/static/uploads/photo/2012/04/24/17/57/rss-40674_640.png
Type=Link
URL[$e]=https://pixabay.com/static/uploads/photo/2012/04/24/17/57/rss-40674_640.png
