
pre {

  color: black;
  padding: 20px;

}

.sortable th {

  cursor: pointer;

}

textarea {

  margin-top: 50px;

}

a[target="_blank"]::after {

  /* 2024-07-04 jj5 - NOTE: some options...
  content: " ↗";
  content: " 🔗";
  */
  content: " 🔗";

}

section {

  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
  width: 100%;

}

header section {

  max-width: 1000px;

}

nav header {

  margin-left: 10px;

}

html.xslt main {

  margin-top: -30px;

}

html.xslt .hamburger {

  margin-top: 0px;

}

.equipment-link {

  /*margin-top: 66px;*/
  display: inline-block;

}

/* 2024-06-15 jj5 - this will add a little space above the heading */
:target::before {
  content: "";
  display: block;
  height: 68px !important;       /* Same height as the banner */
  margin-top: -68px !important;  /* Negative margin to offset the height */
  background-color: transparent !important;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {

  text-decoration: underline;

}

section > :last-child {
  margin-bottom: 5px !important;
}

h1, h2, h3, h4, h5, h6 {

  margin-top: 52px;

  /*transition: color 2000ms ease;*/
  transition: font-size 750ms ease;

  border-radius: 20px;

  opacity: 0.75;

  /*
  padding: 5px 10px;
  */

}

.flash {

  /*background-color: yellow !important;*/
  /*background-color: rgb(255,255,0,0.5) !important;*/

  /*color: orange;*/

  /*
  font-size: 42px;
  */

  font-size: 16px;

}

.center {
  text-align: center;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.end, .empty {
  font-size: 40px;
  text-align: center;
}

.end a, .empty a {
  display: inline-block;
  padding: 20px 0px;
}

p.small {
  font-size: 20px;
}

table {
  width: auto;
}




table td, table th {
  padding: 10px !important;
}

.equipment-table img, .equipment-list img {
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
}

.equipment-list h2 {
  padding-top: 60px;
}

#options {
  padding-top: 60px;
  text-align: center;
  width: 100%;
}

tr.spacer td {

  border: 0px;
  height: 60px;

}

tr.row-1 td {

  border: 0px;
  background-color: rgba(0, 0, 0, 0) !important;

}

table#equipment {
  margin: auto;
  width: 98%;
}

.equipment-table {
  width: 100%;
  text-align: center;
}

header p {

  font-size: 20px;

}

main {
  background-color: #fcfcfc;
  padding-bottom: 50px;
}

.loader {
  font-size: 40px;
  text-align: center;
}

.loader a {
  display: block;
  padding: 20px;
}

section.table {
  padding: 65px;
  max-width: none;
}

.container {
  max-width: 1000px;
}

b {
  font-weight: 900 !important;
  font-size: larger;
  font-style: italic;
  color: brown;
  margin-right: 2px;
}

.menu-list {
  display:none;
}

.menu-list a {
  color: #606C76 !important;
}

dl {
  margin-top: 10px;
}

dt {
  font-size: 20px;
}

iframe {
  background-color: black;
}

section.load {

  text-align: center;

}

section.load a {

  font-size: 30px;
  padding: 30px !important;
  display: inline-block;

}

.video-details {
  width: 100%;
}

.video-thumbnail {
  width: 100%;
}

.video {
  width: 100%;
}

/*
@media ( min-width:1200px ) {
  .video-details {
    width: 240px;
    float: left;
  }
  .video {
    width: 800px;
    float: right;
  }
}
*/

.video-thumbnail img {
  width: 100%;
}

ul {
  list-style: disc;
  margin-left: 20px;
  font-size: 1em !important;
}

header ul {

  list-style-type: none !important;

}

a:hover {
  text-decoration: underline;
}


.popover {
  left: 0px !important;
}

.popover::after, .popover::before {
  left: 67% !important;
}

main header img {
  margin-top: 52px;
  margin-bottom: 0px;
  width: 100%;
}

.indent {
  padding-left: 30px;
}

body, .container {

  min-width: 320px;

}

footer {

  text-align: center;
  margin: 10px;

}

#home {
  margin-top: -10px;
}

#home img {
  margin-top: -10px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

.hamburger {
  cursor: pointer;
  padding: 10px;
  border: 0px;
  background: transparent;
  float: right;
  margin-top: 6px;
  padding-top: 5px;
}

.hamburger:focus {
  outline: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

.navigation-list {
  float: right;
}

nav img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

.wrapper {
 display:block;
 overflow:hidden;
 position:relative;
 width:100%;
}
.wrapper > .container {
  padding-top: 65px !important;
  padding-bottom: 0px !important;
}
.wrapper>.container {
 padding-bottom:75px;
 padding-top:75px;
}
.header {
 background-color:#f4f5f6;
 padding-top:10px;
}
.header+section {
 border-top:0;
}
header section,
.header .container {
 border-top:0;
 padding-bottom:30px;
 padding-top:30px;
 position:relative;
 text-align:center;
}
.header .title {
 font-family:Helvetica Neue,Arial,sans-serif;
}
.header .img {
 height:150px;
 margin-bottom:20px;
}
.header .img path {
 animation:7s a forwards;
 fill:#9b4dca;
 stroke:#9b4dca;
 stroke-dasharray:38321;
 stroke-miterlimit:10;
 stroke-width:15px;
}
.header .button {
 margin-bottom:40px;
 margin-top:20px;
}
@keyframes a {
 0% {
  fill-opacity:0;
  stroke-dashoffset:38321;
 }
 25% {
  fill-opacity:0;
  stroke:#9b4dca;
 }
 to {
  fill-opacity:1;
  stroke-dashoffset:0;
 }
}
.footer {
 padding:80px 0 20px;
}
.footer .copyright {
 padding-right:60px;
}
.footer .nav {
 position:absolute;
 right:20px;
 top:50%;
 transform:translateY(-50%);
}
.footer .nav .link {
 display:inline-block;
 margin-left:12px;
 padding:0;
}
.footer .nav .icon {
 fill:#9b4dca;
 height:20px;
}
.footer .nav .icon:hover {
 fill:#606c76;
}
.navigation {
 background:#f4f5f6;
 border-bottom:1px solid #d1d1d1;
 display:block;
 height:52px;
 left:0;
 max-width:100%;
 position:fixed;
 right:0;
 top:0;
 width:100%;
 z-index:2;
}
.navigation .container {
 padding-bottom:0;
 padding-top:0;
}
.navigation .navigation-list {
 list-style:none;
 margin-bottom:0;
 margin-right:10px;
}
.navigation .navigation-item {
 float:left;
 margin-bottom:0;
 margin-left:25px;
 position:relative;
}
.navigation .img {
 fill:#9b4dca;
 height:20px;
 position:relative;
 top:.30px;
}
.navigation .navigation-title,
.navigation .title {
 color:#606c76;
 font-family:Helvetica Neue,Arial,sans-serif;
 position:relative;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
 display:inline;
 font-size:16px;
 line-height:52px;
 padding:0;
 text-decoration:none;
}
.navigation .navigation-link.active {
 color:#606c76;
}
.octocat {
 border:0;
 color:#f4f5f6;
 fill:#9b4dca;
 height:52px;
 position:fixed;
 right:0;
 top:0;
 width:52px;
 z-index:2;
}
.octocat:hover .octocat-arm {
 animation:b .56s infinite;
 transform-origin:130px 106px;
}
.octocat .octocat-arm,
.octocat .octocat-body {
 fill:#f4f5f6;
}
@keyframes b {
 0%,
 50% {
  transform:rotate(0);
 }
 25%,
 75% {
  transform:rotate(-25deg);
 }
}
.popover {
 background:#fff;
 border:1px solid #d1d1d1;
 border-radius:.40px;
 display:none;
 filter:drop-shadow(0 0 6px rgba(0,0,0,.1));
 left:50%;
 min-width:134px;
 position:absolute;
 top:94%;
 transform:translateX(-50%);
}
.popover.popover-open {
 display:block;
}
.popover:after,
.popover:before {
 border:solid transparent;
 border-color:transparent;
 border-width:10px;
 content:" ";
 height:0;
 left:50%;
 pointer-events:none;
 position:absolute;
 right:17px;
 top:0;
 width:0;
}
.popover:after {
 border-bottom-color:#fff;
 transform:translate(-50%,-100%);
}
.popover:before {
 border-bottom-color:#d1d1d1;
 transform:translate(-50%,-102%);
}
.popover .popover-list {
 list-style:none;
 margin:0;
 padding:0;
}
.popover .popover-item {
 margin:0;
 padding:0;
}
.popover .popover-item:first-child .popover-link {
 border-radius:4px 4px 0 0;
}
.popover .popover-item:last-child .popover-link {
 border-bottom-width:0;
 border-radius:0 0 4px 4px;
}
.popover .popover-link {
 border-bottom:1px solid #d1d1d1;
 color:#606c76;
 display:block;
 font-size:12px;
 padding: 12px;
 position:relative;
 text-align:center;
 text-decoration:none;
}
.popover .popover-link:hover {
 background:#9b4dca;
 border-bottom-color:#9b4dca;
 color:#fff;
}



html {
  min-height: 101%;
}

body {

  background-color: #E2E2E2;

}

html, body, header, img {

  margin: 0px;
  padding: 0px;

}

footer {

  text-align: center;
  padding: 30px;

}

.row_number, .date, .copyright_year, .duration {

  text-align: right;

}

td.equipment {

  text-align: center;
  vertical-align: top !important;

}

td.equipment img {

  width: 250px;

}

td.affiliate_link table {

  margin: 0px;
  padding: 0px 10px;

  border-collapse: collapse;


}

td.affiliate_link table, td.affiliate_link tbody, td.affiliate_link thead, td.affiliate_link tr {

  border: 0px;
  margin: 0px;
  padding: 0px;


}

td.affiliate_link table {

  width: 100%;

}

td.affiliate_link td {

  border: 1px solid black;
  margin: 0px;
  padding: 4px;

}

td.affiliate_link th {

  text-align: center;

}

td.affiliate, td.price, td.vendor {

  text-align: right;

}

td.search {

  vertical-align: top !important;

}

td.search ul {

  border: 0px;
  margin: 0px;
  padding: 0px 0px 0px 10px;

}

.warning {

  color: red;

}

td.min-USD {

  text-align: right;
  vertical-align: top !important;

}

table img {
  width: 300px;
}

table tbody tr td.img {
  vertical-align: top !important;
  text-align: center;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
}

td.affiliate, td.price {

  text-align: right;

}

table, tbody, thead, tr {

  background-color: rgba(0, 0, 0, 0) !important;

}

td div {

  padding: 4px 0px;

}

.number {

  text-align: right;

}

a, a.internal {

  color: #1E90FF;

}

a.external {

  color: blue;

}

a.affiliate {

  color: green !important;

}

/* 2024-07-04 jj5 - OLD: this is ugly so I have disabled it...
a:visited, a.external:visited, a.visited {

  color: purple;

}
*/

/*
// 2024-01-24 jj5 - Mobile First Media Queries:
//* Larger than Mobile screen...:  20.0rem (320px)
//* Larger than Mobile screen...:  40.0rem (640px)
//* Larger than Tablet screen...:  80.0rem (1280px)
//* Larger than Desktop screen..: 120.0rem (1920px)
*/

.rc-base {
  display: block;
}
.rc-0320 {
  display: none;
}
.rc-0640 {
  display: none;
}
.rc-1280 {
  display: none;
}
.rc-1920 {
  display: none;
}

@media ( min-width:320px ) {
  .rc-base {
    display: none;
  }
  .rc-0320 {
    display: block;
  }
  .rc-0640 {
    display: none;
  }
  .rc-1280 {
    display: none;
  }
  .rc-1920 {
    display: none;
  }
}

@media ( min-width:640px ) {
  .rc-base {
    display: none;
  }
  .rc-0320 {
    display: none;
  }
  .rc-0640 {
    display: block;
  }
  .rc-1280 {
    display: none;
  }
  .rc-1920 {
    display: none;
  }
}

@media ( min-width:1280px ) {
  .rc-base {
    display: none;
  }
  .rc-0320 {
    display: none;
  }
  .rc-0640 {
    display: none;
  }
  .rc-1280 {
    display: block;
  }
  .rc-1920 {
    display: none;
  }
}

@media ( min-width:1920px ) {
  .rc-base {
    display: none;
  }
  .rc-0320 {
    display: none;
  }
  .rc-0640 {
    display: none;
  }
  .rc-1280 {
    display: none;
  }
  .rc-1920 {
    display: block;
  }
}

@media ( min-width:640px ) {
  .equipment-list img {
    float: right;
  }
  .header {
    padding-top:50px;
  }
  .header .button {
    margin-bottom:40px;
    margin-top:20px;
  }
}

@media ( min-width:960px ) {
  .video-details {
    width: 33%;
    float: left;
  }
  .video-thumbnail {
    width: 66%;
    float: right;
  }
  .video {
    width: 60%;
    float: right;
  }
}

@media ( min-width:1280px ) {
  .menu-list {
    padding: 14px;
    float: right;
    display: block;
  }
  .navigation-list {
    display: none;
  }
  .navigation .navigation-list {
    margin-right:0;
  }
}
